<!-- <style>
    html {
        height: 100vh;
    }

    body {
        overflow: hidden;
    }

    /* .page-content {
        padding-top: 15px;
        margin-top: 100px;
    } */
</style> -->

<div style="font-size: 11.5px!Important;">
    <!-- <div class="page-heading">
        <h1 class="page-title">Online Dispute Resolution Portal</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index-2.html">Portal</a>
            </li>
            <li class="breadcrumb-item active">Case</li>
        </ol>
    </div> -->
    <!-- style="pointer-events: none;opacity: 0.2;" -->
    <div class="page-content fade-in-up">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-body text-center">
                        <!-- <div class="m-t-20">
                            <img style="width: 80px; height: 75px;" class="img-circle" src="../Images/matta_1.jpg">
                        </div> -->
                        <div ng-show="userLoader">
                            <div class="text-loader-lg"></div>
                            <hr>
                            <div class="text-loader-lg"></div>
                            <br>
                            <div class="text-loader-lg"></div>
                            <br>
                            <div class="text-loader-lg"></div>
                            <br>
                            <div class="text-loader-lg"></div>
                            <br>
                        </div>

                        <div ng-show="userData">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-3">
                                    <a title="Message" href="#" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myModal">
                                        <i style="font-size: 30px;" class="fa fa-envelope"></i>
                                        <br>
                                        <span style="font-size:10px;text-align:center;">Message</span>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-3">
                                    <a title="View Case Details" href="#" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myCaseModal">
                                        <i style="font-size: 30px;" class="fa fa-edit"></i>
                                        <br>
                                        <span style="font-size:10px;text-align:center;">View Case</span>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-3">
                                    <a title="Upload Documents" href="#" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myUploadModal">
                                        <i style="font-size: 30px;" class="fa fa-upload"></i>
                                        <br>
                                        <span style="font-size:10px;text-align:center;">Upload</span>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <span>
                                <b>CASE</b>
                                <span>: {{ showData.ComplaintId.Complaint | limitTo: 100 }}{{showData.ComplaintId.Complaint.length
                                    > 20 ? '...' : ''}}
                                </span>
                            </span>
                            <hr>
                            <span>
                                <b>Name</b>
                                <span>: {{showData.ComplaintId.UName}}</span>
                                <span ng-if="role != 'invitee'">
                                    <br>
                                    <b>File Number</b>
                                    <span>: {{showData.ComplaintId.FileCode}}</span>
                                </span>
                                <br>
                                <b>Email</b>
                                <span>: {{showData.ComplaintId.UEmail}}</span>
                                <br>
                            </span>
                            <span>
                                <b>Status</b>
                                </h5>
                                <span class="badge badge-success m-r-5 m-b-5" style="background-color: #00c851;">In Progress</span>
                                <!-- <div class="m-b-20 text-muted">Web Developer</div> -->
                                <hr>
                                <div class="row">
                                    <div class="btn-group-justified col-md-12">
                                        <input type="button" style="font-size: 12px;" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myModal"
                                            class="btn btn-success" href="javascript:;" value="Message">
                                        <input type="button" style="font-size: 12px;" ng-if="role == 'mediator'" ng-click="btnCloseCase()" class="btn btn-default"
                                            href="javascript:;" value="Close Case">
                                    </div>
                                </div>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-body text-center">
                        <div ng-show="userLoader">
                            <div class="text-loader-lg"></div>
                            <br>
                            <div class="text-loader-lg"></div>
                            <br>
                        </div>

                        <span ng-show="userData">
                            <b>Third Party Name</b>
                            <span>: {{showData.ComplaintId.TPName}}</span>
                            <br>
                            <b>Email</b>
                            <span>: {{showData.ComplaintId.TPEmail}}</span>
                            <div ng-if="role == 'mediator'">
                                <hr>
                                <div class="row" style="margin: auto; display: block;">
                                    <div class="btn-group-justified col-md-12">
                                        <button ng-if="IsInvited == false" ng-click="btnInvite(showData._id)" id="btnInvite" style="font-size: 12px;" class="btn btn-success"
                                            href="javascript:;">Invite Third Party</button>
                                        <!-- <a style="font-size: 12px;" class="btn btn-default" href="javascript:;">Close Case</a> -->
                                    </div>
                                    <span ng-if="IsInvited == true" class="badge badge-success m-r-5 m-b-5" style="text-align:center;">Invited</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!-- <pagination ng-show="textContent" boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="chats.length"
                    ng-model="currentPage" ng-change="pageChanged()">
                </pagination> -->
                <div style="display:none;" class="loader"></div>
                <div class="ibox" id="container">
                    <div class="ibox-body scroll" schroll-bottom="scrollTrigger" style="overflow: scroll;overflow-y: scroll;
                    overflow-x: hidden;height:550px;" id="chatBox">
                        <img id="imgLoader" src="../Images/loading_apple.gif" style="display:none; margin:auto; width:30px;">
                        <br>
                        <div class="cd-timeline-dark center-orientation timeline-2" id="cd-timeline">
                            <div ng-show="textContent" ng-repeat="data in filteredData" class="cd-timeline-block">
                                <div style="background-color:#18c5a9!Important;" ng-if="data.SenderId === data.CaseId.MediatorId" class="cd-timeline-icon bg-green text-white">
                                    <span class="userText" style="font-size: 22px; text-transform: uppercase;position:relative;top:5px;">{{data.SenderName.charAt(0)}}</span>
                                </div>
                                <div style="background-color: #6f85d6!Important;" ng-if="data.SenderId === data.CaseId.UserId" style="background-color:#7f8c8d!Important;"
                                    class="cd-timeline-icon bg-purple text-white">
                                    <span class="userText" style="font-size: 22px; text-transform: uppercase;position:relative;top:5px;">{{data.SenderName.charAt(0)}}</span>
                                </div>
                                <div style="background-color: #f26fac!Important;" ng-if="data.SenderId !== data.CaseId.UserId && data.SenderId !== data.CaseId.MediatorId"
                                    style="background-color:#7f8c8d!Important;" class="cd-timeline-icon bg-purple text-white">
                                    <span class="userText" style="font-size: 22px; text-transform: uppercase;position:relative;top:5px;">{{data.SenderName.charAt(0)}}</span>
                                </div>
                                <a id="{{data._id}}" href="#{{data._id}}"></a>
                                <div class="cd-timeline-content">
                                        <!-- <h2 style="width: 100%; 
                                        text-align: center; 
                                        border-bottom: 1px solid #000; 
                                        line-height: 0.1em;
                                        margin: 10px 0 20px; ">
                                            <span style="background:#fff; 
                                            padding:0 10px; ">THIS IS A TEST</span>
                                        </h2> -->
                                    <a href="javascript:void(0)" ng-click="btnEditContent(data._id)" ng-if="userId == data.SenderId && data.File === null" data-backdrop="static"
                                        data-keyboard="false" data-toggle="modal" data-target="#myEditContentModal" class="pull-right"
                                        href="">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <br ng-if="userId == data.SenderId && data.File === null">
                                    <!-- <a href="#" ng-mouseover="showPopover=true;" ng-mouseleave="showPopover=false;">
                                                <h4 ng-if="data.SenderName != null" style="font-size: 1.3rem!Important;">{{data.SenderName}}</h4>
                                                <div class="ibox" style="position:absolute; top:0;display: block;">
                                                    <div class="ibox-body" ng-show="showPopover">
                                                        <span>{{ popover.title }}</span>{{ popover.message }}</div>
                                                </div>
                                            </a> -->
                                    <a href="#">
                                        <h4 ng-if="data.SenderName != null" style="font-size: 1.3rem!Important;">{{data.SenderName}}</h4>
                                    </a>
                                    <!-- <a href="#" ng-mouseover="getPopOverData(data.SenderId, data.SenderName, $index)" ng-mouseleave="showMyPopover(data.SenderId)">
                                            <h4 ng-if="data.SenderName != null" style="font-size: 1.3rem!Important;">{{data.SenderName}}</h4>
                                            <div class="popover" ng-show="showPopoverIndex == $index" id="pop_{{data.SenderId}}">
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img class="img-circle" style="width: 30px;height:30px;border-radius:50%;" src="../uploads/{{popover.fileSrc}}">
                                                    </div>
                                                    <div class="col-md-9">
                                                        <span> {{ popover.name }}</span>
                                                        <span ng-if="popover.role === 'mediator'" style="font-size:12px;font-weight:300;color:#464646">MEDIATOR</span>
                                                        <span ng-if="popover.role === 'user'" style="font-size:12px;font-weight:300;color:#464646">USER</span>
                                                        <span ng-if="popover.role === 'invitee'" style="font-size:12px;font-weight:300;color:#464646">INVITEE</span>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </a> -->

                                    <!-- <h4 ng-if="role !== 'mediator'" ng-if="data.SenderName != null" style="font-size: 1.3rem!Important;">{{data.SenderName}}</h4> -->
                                    <!-- <h4 ng-if="data.TP_Name != null">{{data.TP_Name}}</h4> -->
                                    <p>
                                        <div id="txtChatContent_{{data._id}}" ng-if="data.Content != null" ng-bind-html="data.Content"></div>
                                        <div class="">
                                            <div ng-if="data.File.length === 1">
                                                <div class="col-md-12" ng-if="data.File != null" ng-repeat="(key, value) in data.File track by $index">
                                                    <img id="myImg" ng-click="myImg(value.filename)" class="img-responsive img-thumbnail" style="object-fit:contain; width:100%; display:block; margin: 0 auto; height:180px;"
                                                        src="../uploads/{{value.filename}}">
                                                </div>
                                            </div>
                                            <div ng-if="data.File.length === 2">
                                                <div class="row">
                                                    <div class="col-md-6" ng-if="data.File != null" ng-repeat="(key, value) in data.File track by $index">
                                                        <img id="myImg" ng-click="myImg(value.filename)" class="img-responsive img-thumbnail" style="object-fit:contain; width: 100%; height:120px;"
                                                            src="../uploads/{{value.filename}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.File.length === 3">
                                                <div class="row">
                                                    <div class="col-md-4" style="padding-right: 0px; padding-left: 0px;" ng-if="data.File != null" ng-repeat="(key, value) in data.File track by $index">
                                                        <img id="myImg" ng-click="myImg(value.filename)" class="img-responsive img-thumbnail" style="object-fit:contain; width: 100%; height:120px;"
                                                            src="../uploads/{{value.filename}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.File.length > 3">
                                                <div class="row">
                                                    <div class="col-md-4" style="padding-right: 0px; padding-left: 0px;" ng-if="data.File != null" ng-repeat="(key, value) in data.File track by $index">
                                                        <img ng-if="$index <= 1" id="myImg" ng-click="myImg(value.filename)" class="img-responsive img-thumbnail" style="object-fit:contain; width: 200px; height:120px;"
                                                            src="../uploads/{{value.filename}}">
                                                        <img ng-if="$index == 2" id="myImg" ng-click="myImg(value.filename)" class="img-responsive img-thumbnail" style="object-fit:contain; width: 200px; height:120px; opacity:0.3"
                                                            src="../uploads/{{value.filename}}">
                                                        <img ng-if="$index > 3" class="img-responsive img-thumbnail" style="display:none;" src="../uploads/{{value.filename}}">
                                                        <div ng-if="$index == 2" ng-click="myImg(value.filename)" class="centered myImgLink">
                                                            <h1 style="color: rgb(84, 84, 84);">+ {{data.File.length - 2}}</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="input-group">
                                                    <input style="padding: 11px 10px;" readonly value="{{newFileCode}}" type="text" id="myInput" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button style="padding: 11px 10px;" class="btn btn-success" onclick="myFunction()" type="button">Copy</button>
                                                    </span>
                                                </div> -->
                                        </div>
                                    </p>
                                    <!-- <a class="btn btn-success btn-sm" href="javascript:;">More ...</a> -->
                                    <span style="font-size: 11px;color: #7b7979;font-style: italic;" class="cd-date">{{data.Date | date : "MMM d, y h:mm a"}}</span>
                                </div>
                            </div>

                            <div id="contentContainer_{{userId}}">

                            </div>

                            <div id="myImgModal" class="modalImg">
                                <span class="close">&times;</span>
                                <img style="width:300px; margin-top:60px;" class="imgModal-content" id="img01">
                                <br>
                                <i class="fa fa-arrow-left" style="font-size:60px; margin-left:45%;"></i>
                                <i style="font-size:60px; margin-left:3%;" class="fa fa-arrow-right"></i>
                                <!-- <button id="prev-btn" class="btn btn-warning">Prev</button>
                                <button id="next-btn" class="btn btn-primary">Next</button> -->
                            </div>

                            <div ng-show="contentLoader" ng-repeat="i in [1, 2]" class="cd-timeline-block">
                                <div class="cd-timeline-icon bg-green text-white">
                                    <i class="fa fa-file-text"></i>
                                </div>
                                <div class="cd-timeline-content">
                                    <h4>
                                        <div class="text-loader-lg"></div>
                                    </h4>
                                    <p>
                                        <span>
                                            <div class="text-loader-lg"></div>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <!-- <img src="../Images/loading_apple.gif" style="display:block; margin:auto; width:30px;"> -->
                        </div>
                    </div>
                    <div class="input-group">
                        <input style="padding: 11px 10px;" id="txtContent2" type="text" class="form-control">
                        <span class="input-group-btn">
                            <button style="padding: 11px 10px;" class="btn btn-success" ng-click="btnChat2()" type="button">Message</button>
                        </span>
                    </div>
                </div>
                <!-- <pagination ng-show="textContent" boundary-links="true" max-size="5" items-per-page="itemsPerPage" total-items="chats.length"
                    ng-model="currentPage" ng-change="pageChanged()">
                </pagination> -->
            </div>

            <!-- <div class="col-lg-9 col-md-4">
                <div class="ibox">
                    <div class="ibox-body">
                        <div class="cd-timeline-dark center-orientation timeline-2" id="cd-timeline">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>

    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 45%; color: White;">
            Loading, please wait...
            <img style="width: 50px; height: 50px;" src="~/Images/load.gif" />
        </p>
    </div>

    <style>
        .modal-backdrop {
            background-color: #4BB2C5;
        }
    </style>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mediation Chat</h4>
                </div>
                <div class="modal-body">
                    <div id="summernote" id="txtContent" data-plugin="summernote" data-air-mode="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-style="backgroundColor" class="btn btn-success waves-effect waves-light" ng-click="btnChat()" type="button">
                        Chat</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myCaseModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Case Details</h4>
                </div>
                <div class="modal-body">
                    <span>
                        <b>Name</b>
                        <span>: {{showData.ComplaintId.UName}}</span>
                        <span ng-if="role != 'invitee'">
                            <hr>
                            <b>File Number</b>
                            <span>: {{showData.ComplaintId.FileCode}}</span>
                        </span>
                        <hr>
                        <b>Email</b>
                        <span>: {{showData.ComplaintId.UEmail}}</span>
                        <hr>
                    </span>
                    <span>
                        <b>CASE</b>
                        <span>: {{showData.ComplaintId.Complaint}}</span>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button ng-style="backgroundColor" class="btn btn-success" ng-click="btnChat()" type="button">
                        <i ng-show="searchButtonText == chat" class="fa fa-cog fa-spin"></i> Chat</button> -->
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myEditContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="border-radius:3px;padding-right: 17px;">
        <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <img ng-if="mediatordata.Image === null" class="img-circle" style="width: 100px; height: 100px; margin:0 auto;" src="../Images/u1.png"
                    />
                    <img ng-if="mediatordata.Image !== null" width="120" height="120" style="margin:0 auto;" src="../uploads/{{mediatordata.Image.Image}}"
                        class="rounded-circle img-responsive" alt="Avatar photo">
                </div> -->
                <div class="modal-body text-center mb-1">
                    <div class="text-center mt-4">
                        <div class="form-group">
                            <!-- <input id="contentUpdate" type="text" value="{{chatData.Content}}" class="form-control"> -->
                            <textarea rows="8" id="contentUpdate" class="form-control"></textarea>
                        </div>
                        <button ng-click="btnUpdateContent(chatData._id)" class="btn btn-success waves-effect waves-light">Update
                            <i class="fa fa-sign-in ml-1"></i>
                        </button>
                        <button type="button" style="padding: .6rem 1.5rem;" class="btn btn-cyan waves-effect waves-light" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myUploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <form enctype="multipart/form-data" action="/uploadfile" method="post">
                            <input type="hidden" id="caseId" value="{{showData._id}}">
                            <input type="file" name="Images" id="previewFile" multiple>
                        </form>
                        <!-- <button class="btn btn-primary" ng-click="preview()">Click</button> -->
                        <!-- <div class="dz-default dz-message">
                        <span>
                            <div class="text-center m-b-10">
                                <i class="fa fa-cloud-upload text-info" style="font-size:50px"></i>
                            </div>
                            <strong>Drop files here or click to upload. </strong>
                            <br> </span>
                    </div> -->
                    </div>
                    <div id="previewContent" style="display: none;">
                        <hr>
                        <span>
                            <h3 style="text-align:center;">Preview</h3>
                        </span>
                        <hr>
                        <!-- <div ng-show="fileLoad" class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="imgContent"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="imgContent"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="imgContent"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="imgContent"></div>
                        </div>
                    </div> -->

                        <div class="row" id="preview"></div>
                        <br>
                        <input style="font-size: 12px;" type="text" placeholder="Add Caption" id="caption" ng-model="caption" class="form-control">
                        </textarea>
                        <br>
                        <div class="progress" style="display:none;margin-top:10px;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                        <br>
                        <div class="pull-right">
                            <button class="btn btn-success btn-rounded m-b-5" id="uploadFile" type="button">
                                <i class="ti-comment-alt"></i> Upload</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button ng-style="backgroundColor" class="btn btn-success" ng-click="btnUpload()" type="button">
                    <i ng-show="searchButtonText == chat" class="fa fa-cog fa-spin"></i> Chat</button> -->
                </div>
            </div>

        </div>
    </div>
</div>




<!-- <script src="../content/dashboard/vendors/dropzone/dist/min/dropzone.min.js" type="text/javascript"></script> -->
<script type="text/javascript">
    // Dropzone.options.mydropzone = {
    //     paramName: "file", // The name that will be used to transfer the file
    //     maxFilesize: 5, // MB
    //     dictDefaultMessage: '<div class="text-center m-b-10"><i class="fa fa-cloud-upload text-info" style="font-size:50px"></i></div> <strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)',
    //     init: function () {
    //         this.on("addedfile", function (file) {
    //             //'<input type="file" name="'+this._getParamName(0)+'" '+(this.options.uploadMultiple?'multiple="multiple"':void 0)+' />
    //             var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn btn-danger btn-sm btn-block'>Clear</a>");
    //             //var removeButton = Dropzone.createElement("<a href='javascript:;' class='dropzone-close'></a>");
    //             var _this = this;
    //             removeButton.addEventListener("click", function (e) {
    //                 e.preventDefault();
    //                 e.stopPropagation();
    //                 _this.removeFile(file);
    //             });
    //             file.previewElement.appendChild(removeButton);
    //         });
    //     }
    // }


    $(function () {
        $("[name='timeline1-option']").change(function () {
            +this.value ? $('.timeline-1').addClass('center-orientation') : $('.timeline-1').removeClass('center-orientation');
        });
        $("[name='timeline2-option']").change(function () {
            +this.value ? $('.timeline-2').addClass('center-orientation') : $('.timeline-2').removeClass('center-orientation');
        });
    })

    $(function () {
        $('#summernote').summernote();
        $('#summernote_air').summernote({ airMode: true });
    });

    // var objDiv = document.querySelector("chat");
    // objDiv.scrollTop = objDiv.scrollHeight;

</script>