<!--Display DIV after page is fully LOADED-->
<div class="page-content" style="font-size: 12px;">
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-3">
                <div class="card card-1 col-md-6 text-md-center" id="card1">
                    <div style="height:50px;"></div>
                    <form class="col-12" id="changepassword">
                        <div class="form-group">
                            <input ng-model="oldpassword" style="padding: 11px 10px;" class="form-control" type="password" placeholder="Enter Old Password">
                        </div>
                        <div class="form-group">
                            <input ng-model="newpassword" style="padding: 11px 10px;" class="form-control" type="password" placeholder="Enter New Password">
                        </div>
                        <div class="form-group">
                            <input ng-model="confirmnewpassword" style="padding: 11px 10px;" class="form-control" type="password" placeholder="Confirm New Password">
                        </div>
                        <div class="form-group">
                            <button style="padding: 15px;" id="btnChangePassword" class="btn btn-success btn-block has-spinner" ng-disabled="!oldpassword || !newpassword || confirmnewpassword !== newpassword || newpassword.length <= 5" ng-click="btnChangePassword()"
                                type="submit">
                                <i class="ti-unlock m-r-5"></i>Confirm <span class="spinner"><img src="../Images/blue_loading.gif"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <script>
        $(document).ready(function () {
            var socket = io.connect('http://localhost:3005');
            socket.emit('notify');
            socket.on('notifyCount', function (data) {
                alert(data);
            });
        })
    </script> -->