<!-- <div class="page-heading">
    <h1 class="page-title">Mediator Profile</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Mediator Profile</li>
    </ol>
</div> -->


<div class="page-content" ng-disabled="true" style="font-size: 12px;">
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-3">
                <div class="card card-1 col-md-6 text-md-center" id="card1">
                    <div style="height:50px;"></div>
                    <div class="ibox">
                        <form id="mediationProfile" name="mediationData" action="javascript:void(0)" enctype="multipart/form-data">
                            <div class="ibox-head">
                                <h3>Personal Information</h3>>
                            </div>
                            <div class="ibox-body">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label style="font-weight:300;">First Name</label>
                                        <span class="text-danger">*</span>
                                        <input style="padding: 10px;" type="text" value="{{existingProfile.FirstName}}" ng-model="firstname" name="firstname" id="firstname"
                                            class="form-control" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label style="font-weight:300;">Last Name</label>
                                        <span class="text-danger">*</span>
                                        <input style="padding: 10px;" type="text" value="{{existingProfile.LastName}}" ng-model="lastname" name="lastname" id="lastname"
                                            class="form-control" required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label style="font-weight:300;">Other Names</label>
                                        <span class="text-danger">*</span>
                                        <input style="padding: 10px;" type="text" value="{{existingProfile.OtherNames}}" ng-model="othernames" name="othernames"
                                            id="othernames" class="form-control">
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <label style="font-weight:300;">Mini Bio</label>
                                        <span class="text-danger">*</span>
                                        <textarea type="text" name="bio" ng-model="bio" rows="8" id="bio" class="form-control" required>{{existingProfile.MiniBio}}</textarea>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label style="font-weight:300;">Mediation Certificate</label>
                                        <span class="text-danger">*</span>
                                        <input type="file" name="Image" id="medCert">
                                        <!-- <input type="button" ng-click="btnUploadMedCert()" value="Upload"> -->
                                        <br>
                                        <div class="ibox-body">
                                            <img width="130" height="120" id="medCertImage" class="img-responsive img-thumbnail" src="../uploads/{{existingProfile.MediatorCertificate}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label style="font-weight:300;">Contact Phone</label>
                                        <span class="text-danger">*</span>
                                        <input style="padding: 10px;" value="{{existingProfile.Phone}}" type="text" ng-model="phone" id="phone" name="phone" class="form-control"
                                            required>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label style="font-weight:300;">Address</label>
                                        <span class="text-danger">*</span>
                                        <input style="padding: 10px;" type="text" value="{{existingProfile.Address}}" ng-model="address" id="address" name="address"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-footer">
                                <div class="col-md-12">
                                    <div class="button-box col-lg-12">
                                        <input type="submit" href="javascript:void(0)" value="Update" id="btnUpdateProfile" style="padding: 1.2rem 3rem;" class="btn btn-success"
                                            ng-click="mediationData.$valid && btnSaveMediatorProfile()">
                                        <a href="/profile" style="padding: 1.2rem 3rem;" class="btn btn-default" role="button">Return to Dashboard
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- <div class="ibox-head">
                                    <div class="ibox-title">Legal Information</div>
                                </div>
                                <div class="ibox-body">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>First Name</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" name="firstname" class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>First Name</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" name="firstname" class="form-control">
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>First Name</label>
                                            <span class="text-danger">*</span>
                                            <input type="text" name="firstname" class="form-control">
                                        </div>
                                    </div>
                                </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
        opacity: .8; filter: alpha(opacity=70);display:none">
    <!-- <p style="position: absolute; top: 30%; left: 45%; color: White;"> -->
    <!-- Loading, please wait... -->

    <!-- </p> -->
    <img style="width: 50px; height: 50px; display:block; margin:0 auto; position: relative; top: 40%;" src="../Images/loading_apple.gif"
    />
</div>




<!--VALIDATION-->
<script type="text/javascript">
    $(function () {
        $('#mediationProfile').validate({
            rules: {
                firstname: { required: true },
                lastname: { required: true },
                // othername: { required: true },
                phone: { required: true },
                address: { required: true },
                bio: { required: true }
            },
            errorClass: "help-block error",
            highlight: function (e) { $(e).closest(".form-group.row").addClass("has-error") },
            unhighlight: function (e) { $(e).closest(".form-group.row").removeClass("has-error") },
        });


        // if ($('#cost').val() !== '' && $('#estNoDays').val() !== '') {
        //     $('#btnAccept').prop('disabled', true);
        // }
    });
</script>