<!-- START PAGE CONTENT-->
<div class="page-heading">
    <h1 class="page-title">Create a New Complaint</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index-2.html">Home</a>
        </li>
        <li class="breadcrumb-item active">New Complaint</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Your Information is safe with US!</div>
        </div>
        <div class="ibox-body">
            <form id="form-wizard" action="#" novalidate="novalidate">
                <h6>Third Party's Data</h6>
                <section>
                    <h3>Third Party's Information</h3>
                    <div class="form-group">
                        <label>Full Name
                            <span class="danger">*</span>
                        </label>
                        <input class="form-control required name" ng-model="fullname" type="text" name="TPName">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email
                                    <span class="danger">*</span>
                                </label>
                                <input class="form-control required email" ng-model="email" type="email" name="TPEmail">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number
                                    <span class="danger">*</span>
                                </label>
                                <input class="form-control required phone" ng-model="phone" type="text" name="TPPhone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address
                            <span class="danger">*</span>
                        </label>
                        <input class="form-control required address" ng-model="address" type="text" name="TPAddress">
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input class="form-control" ng-model="website" type="text" name="TPWebsite">
                    </div>
                </section>
                <h6>Tell us about your Complaint</h6>
                <section>
                    <h3>What exactly happened?</h3>
                    <div class="form-group">
                        <label>Complaint</label>
                        <textarea rows="10" class="form-control required" type="text" name="Complaint"></textarea>
                    </div>
                </section>
                <h6>Personal information</h6>
                <section>
                    <h3>Personal Information</h3>
                    <div class="form-group">
                        <label>Full Name
                            <span class="danger">*</span>
                        </label>
                        <input class="form-control required name" ng-model="fullname" type="text" name="UName">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email
                                    <span class="danger">*</span>
                                </label>
                                <input class="form-control required email" ng-model="email" type="email" name="UEmail">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number
                                    <span class="danger">*</span>
                                </label>
                                <input class="form-control required phone" ng-model="phone" type="text" name="UPhone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address
                            <span class="danger">*</span>
                        </label>
                        <input class="form-control required address" ng-model="address" type="text" name="UAddress">
                    </div>
                </section>
                <h6>Complete</h6>
                <section>
                    <div class="text-center">
                        <h3>Thank you for your quick response. You will get an SMS instructing you on the next thing to do.</h3>
                        <i class="fa fa-smile-o text-success" style="font-size:120px;"></i>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#form-wizard').steps({
            headerTag: "h6",
            bodyTag: "section",
            titleTemplate: '<span class="step-number">#index#</span> #title#',
            onStepChanging: function (event, currentIndex, newIndex) {
                var form = $(this);
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);
                var v = form.serializeJSON();
                $.post("/new-complaint", v , function (response) {
                    if (response == 1) {
                        toastr.success('Submitted!');
                        setTimeout(() => {
                            window.location.href = '/dashboard';
                        }, 2000);
                    }
                    if (response == 0) toastr["error"]("Sorry, An error occured while processing your request.");
                    $(':input[type="submit"]').prop('disabled', true);
                });
            }
        }).validate({
            errorPlacement: function errorPlacement(error, element) { error.insertAfter(element); },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            },
            errorClass: "help-block error",
            highlight: function (e) { $(e).closest(".form-group").addClass("has-error") },
            unhighlight: function (e) { $(e).closest(".form-group").removeClass("has-error") },
        });
    })
</script>