<div class="content">
    <!-- <div class="brand"><a class="link" href="index-2.html">AdminCa</a></div> -->
    <div style="height:100px;"></div>
    <div class="ibox">
        <div class="lock-header m-b-20">Have you opened a file with us?</div>
        <div class="ibox-body">
            <div class="row">
                <form class="col-12" id="file-form" action="#" method="post">
                    <!-- <h5 class="font-strong m-b-10 text-center">James Brown</h5>
                    <p class="font-13 text-center">Please enter your MATTA PIN to enter the ODR Portal</p> -->
                    <div class="form-group">
                        <input style="padding: 11px 10px;" id="firstname" class="form-control" type="text" name="firstname" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <input style="padding: 11px 10px;" id="lastname" class="form-control" type="text" name="lastname" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <input style="padding: 11px 10px;" id="txtEmail" ng-model="email" class="form-control" type="text" name="email" placeholder="Enter Valid Email Address">
                    </div>
                    <div class="form-group">
                        <input style="padding: 11px 10px;" id="txtPhone" ng-model="phone" class="form-control" type="text" name="phone" placeholder="Enter Phone Number">
                    </div>
                    <input type="hidden" name="role" ng-model="role" value="user">
                    <div class="form-group">
                        <script src="https://js.paystack.co/v1/inline.js"></script>
                        <button style="padding: 15px;" type="button" style="width: 100%;" id="btnPay" class="btn btn-success btn-block" onclick="payWithPaystack()">
                            Open File
                        </button>
                    </div>
                    <p>Already have a code?
                        <a href="/login"> Enter here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="font-13 text-center text-white m-t-10 m-b-10">AdminCa. Save your time. Choose the best © 2017</div> -->
</div>


<script type="text/javascript">
    $(function () {
        $('#lock-form').validate({
            errorClass: "help-block",
            rules: {
                password: { required: true }
            },
            highlight: function (e) { $(e).closest(".form-group").addClass("has-error") },
            unhighlight: function (e) { $(e).closest(".form-group").removeClass("has-error") },
            errorPlacement: function (e, r) {
                var i = $(r).parents(".input-group, .check-list");
                i.length ? i.after(e) : r.after(e)
            },
        });
    });

    function payWithPaystack() {
        $('#btnPay').prop('disabled', true);
        var MyEmail = $('#txtEmail').val();
        var Phone = $('#txtPhone').val();
        var Value = 2000 * 100;
        var handler = PaystackPop.setup({
            key: 'pk_test_c7fae17b0fc0dc90a958362549dd64ea8fb43a53',
            email: MyEmail,
            amount: Value,
            ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            metadata: {
                custom_fields: [
                    {
                        display_name: "Mobile Number",
                        variable_name: "mobile_number",
                        value: Phone
                    }
                ]
            },
            callback: function (response) {
                var form = $('#file-form');
                var v = form.serializeJSON();
                // alert(v);
                $.post("/genFileNumber", v, function (response) {
                    if (response == 1) {
                        toastr.success('Successful!');
                        setTimeout(() => {
                            window.location.href = '/validate';
                        }, 1000);
                    }
                    else toastr["error"]("Sorry," + response);
                    $(':input[type="submit"]').prop('disabled', true);
                });
            },
            onClose: function () {
                alert('window closed');
                $('#btnPay').prop('disabled', false);
            }
        });
        handler.openIframe();
    }
</script>