<div style="font-size: 12px!Important;">
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="loader loaderP" style="width: 220px; height: 220px; left: 44.4%; top: 30%;"></div>
                <div class="ibox" id="container">
                    <div class="ibox-body" style="min-height: 500px;">
                        <h2 class="text-center">Analysisng Case</h3>
                            <hr>
                            <h1 class="text-center">72%</h1>
                            <h1 class="pendText" style="position:relative; top:280px; padding-left:150px;padding-right:150px; text-align:center;" class="text-center">
                                Be Patient, we are Analyzing your case. We will get back to you shortly.
                            </h1>
                            <div class="cd-timeline-dark center-orientation timeline-2" id="cd-timeline">

                            </div>
                    </div>
                    <div class="ibox-footer">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i>
                                <b>PS: The system would carefully analyze every bit of the case and would evaluate the COST
                                    for your case.</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>