<div style="height:100px;"></div>
<div data-ng-init="GetUserData()"></div>
<div class="ibox">
    <div class="lock-header m-b-20">Reset Password?</div>
    <div class="ibox-body">
        <div class="row">
            <form class="col-12" id="lock-form" action="/login" method="post">
                <p class="font-13 text-center">Hello,
                    <b>{{userData.userId.email}}</b>, please kindly reset your password.</p>
                <div class="form-group">
                    <input ng-model="password" style="padding: 11px 10px;" class="form-control" type="password" name="password" placeholder="Enter New Password">
                </div>
                <div class="form-group">
                    <input ng-model="confirmpassword" style="padding: 11px 10px;" class="form-control" type="password" name="confirmpassword" placeholder="Confirm New Password">
                </div>
                <div class="form-group">
                    <button style="padding: 15px;" id="btnResetPassword" class="btn btn-success btn-block" ng-disabled="!password || confirmpassword !== password" ng-click="btnResetPassword()"
                        type="button">
                        <i class="ti-unlock m-r-5"></i>Reset!</button>
                </div>
                <p>Already have an Account?
                    <a href="/login"> Login</a>
                </p>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#lock-form').validate({
            errorClass: "help-block",
            rules: {
                password: { required: true },
                confirmpassword: { required: true },
                confirmpassword: {
                    confirmpassword: "#password"
                }
            },
            highlight: function (e) { $(e).closest(".form-group").addClass("has-error") },
            unhighlight: function (e) { $(e).closest(".form-group").removeClass("has-error") },
            errorPlacement: function (e, r) {
                var i = $(r).parents(".input-group, .check-list");
                i.length ? i.after(e) : r.after(e)
            },
        });
    });
</script>