<div style="height:100px;">
</div>
<div class="ibox">
    <div class="lock-header m-b-20">Validate Account</div>
    <div class="ibox-body">
        <div class="row">
            <form class="col-12" id="lock-form" name="myform" action="javascript:void(0)">
                <!-- <h5 class="font-strong m-b-10 text-center">James Brown</h5> -->
                <div class="input-group">
                    <input style="padding: 11px 10px;" readonly value="{{newFileCode}}" type="text" id="myInput" class="form-control">
                    <span class="input-group-btn">
                        <button style="padding: 11px 10px;" class="btn btn-success" onclick="myFunction()" type="button">Copy</button>
                    </span>
                </div>
                <br>
                <div class="form-group">
                    <input style="padding: 11px 10px;" ng-model="password" class="form-control" id="password" type="password" name="password"
                        placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <input style="padding: 11px 10px;" ng-model="confirmpassword" class="form-control" type="password" name="confirmpassword"
                        placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" style="padding: 15px;" class="btn btn-success btn-block" ng-disabled="!password || confirmpassword !== password || password.length <= 5" ng-click="btnOpenFile()"
                        id="btnOpenFile">
                        <i class="ti-unlock m-r-5"></i>Confirm Registration</button>
                </div>
                <p>Don't have a code?
                    <a href="/open-file"> Open file here</a>
                </p>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#lock-form').validate({
        rules: {
            password: { required: true, minlength: 6 },
            confirmpassword: {
                equalTo: "#password"
            }
        },
        errorClass: "help-block error",
        highlight: function (e) { $(e).closest(".form-group.row").addClass("has-error") },
        unhighlight: function (e) { $(e).closest(".form-group.row").removeClass("has-error") },
    });

    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");
        copyText.select();
        document.execCommand("Copy");
    }
</script>
<!-- 
<script type="text/javascript">
    $(function () {
        $('#lock-form').validate({
            rules: {
                password: { required: true },
                confirmpassword: {
                    equalTo: "#password"
                }
            },
        });
    });
</script> -->