<div style="height:100px;">
</div>
<div class="ibox">
    <div class="lock-header m-b-20">Have you opened a file with us?</div>
    <div class="ibox-body">
        <div class="row">
            <form class="col-12" id="lock-form" action="#" method="post">
                <!-- <h5 class="font-strong m-b-10 text-center">James Brown</h5> -->
                <p class="font-13 text-center">Please enter your MATTA PIN/SECRET TOKEN to enter the ODR Portal</p>
                <div class="form-group">
                    <input style="padding: 11px 10px;" value="{{newFileCode}}" placeholder="{{newFileCode}}" readonly ng-model="filecode" class="form-control" type="text" name="filecode">
                </div>
                <div class="form-group">
                    <input style="padding: 11px 10px;" ng-model="password" class="form-control" type="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <input style="padding: 11px 10px;" ng-model="confirmpassword" class="form-control" type="password" name="confirmpassword" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    <button style="padding: 15px;" class="btn btn-success btn-block" ng-click="btnOpenFile()" type="button">
                        <i class="ti-unlock m-r-5"></i>Confirm Registration</button>
                </div>
                <p>Don't have a code?
                    <a href="/open-file"> Open file here</a>
                </p>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#lock-form').validate({
            errorClass: "help-block",
            rules: {
                password: { required: true }
            },
            highlight: function (e) { $(e).closest(".form-group").addClass("has-error") },
            unhighlight: function (e) { $(e).closest(".form-group").removeClass("has-error") },
            errorPlacement: function (e, r) {
                var i = $(r).parents(".input-group, .check-list");
                i.length ? i.after(e) : r.after(e)
            },
        });
    });
</script>