

img.center {
    display: block;
    margin: 0 auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.parentDisable
{
    pointer-events: none;
    opacity: 0.2;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -40px 0 0 -40px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #18c5a9;
    border-bottom: 8px solid #18c5a9;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .timeline-item {
    background: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.text-loader-lg {
    animation-duration: 1s;
    border-radius: 5px;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 7px;
    position: relative;
}

.text-loader-sm {
    animation-duration: 1s;
    border-radius: 5px;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 7px;
    position: relative;
}

.imgContent {
    animation-duration: 1s;
    border-radius: 0px;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 120px;
    width: 150px;
    position: relative;
}

/* @media only screen and (max-width: 768px) {
    .loader {
        left: 36.5%!Important;
      }
} */
@media (min-width:320px)  { 
    .loaderP {
        left: 35%!Important;
      }
 }
@media (min-width:480px)  { 
    .loaderP {
        left: 36.5%!Important;
      }
 }
@media (min-width:600px)  { 
    .loaderP {
        left: 40.5%!Important;
      }
 }
@media (min-width:801px)  { 
    .loaderP {
        left: 43.5%!Important;
      }
 }

 @media (min-width:961px)  { 
    .loaderP {
        left: 44.5%!Important;
      }
 }

#myImg, .myImgLink {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalImg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.imgModal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
/* #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
} */

/* Add Animation - Zoom in the Modal */
.imgModal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 65px;
    right: 45px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.content-wrapper {
    min-height: 660px;
}

blink {
    -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@media (max-width:1025px)  { 
    .pendText {
        padding-left:0px!Important;
        padding-right:0px!Important;
        font-size: 25px;
        text-align: center;
    }
 }