<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="ibox">
                <div class="ibox-body">
                    <h2 class="m-b-5">{{counts[0].mediatorCount}}</h2>
                    <div class="text-muted">NEW FILES</div>
                    <i class="fa fa-file widget-stat-icon text-success"></i>
                    <div class="m-t-5">
                        <span class="text-success font-13 m-r-5">
                            <i class="fa fa-level-up"></i> +22%</span>
                        <small>than last week</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ibox">
                <div class="ibox-body">
                    <h2 class="m-b-5">{{counts[1].fileCount}}</h2>
                    <div class="text-muted">NEW COMPLAINTS</div>
                    <i class="fa fa-edit widget-stat-icon text-success"></i>
                    <div class="m-t-5">
                        <span class="text-success font-13 m-r-5">
                            <i class="fa fa-level-up"></i> +45%</span>
                        <small>than last week</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ibox">
                <div class="ibox-body">
                    <h2 class="m-b-5">{{counts[2].complaintCount}}</h2>
                    <div class="text-muted">MEDIATORS</div>
                    <i class="fa fa-user widget-stat-icon text-success"></i>
                    <div class="m-t-5">
                        <span class="text-success font-13 m-r-5">
                            <i class="fa fa-level-up"></i> +62%</span>
                        <small>than last week</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>