<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="ibox">
                <div class="ibox-body">
                    <h2 class="m-b-5">33</h2>
                    <div class="text-muted">TOTAL BALANCE</div>
                    <i class="la la-money widget-stat-icon text-success"></i>
                    <div class="m-t-5">
                        <span class="text-success font-13 m-r-5">
                            <i class="fa fa-level-up"></i> +22%</span>
                        <small>than last week</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ibox">
                <div class="ibox-body">
                    <h2 class="m-b-5">2.96M</h2>
                    <div class="text-muted">NEW USERS</div>
                    <i class="ti-user widget-stat-icon text-success"></i>
                    <div class="m-t-5">
                        <span class="text-success font-13 m-r-5">
                            <i class="fa fa-level-up"></i> +45%</span>
                        <small>than last week</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ibox">
                <div class="ibox-body">
                    <h2 class="m-b-5">159, 805</h2>
                    <div class="text-muted">NEW TOKEN SALES</div>
                    <i class="ti-shopping-cart widget-stat-icon text-success"></i>
                    <div class="m-t-5">
                        <span class="text-success font-13 m-r-5">
                            <i class="fa fa-level-up"></i> +62%</span>
                        <small>than last week</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>